.popup__input {
  max-width: 358px;
  width: 100%;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid rgb(175, 167, 167);
  color: black;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
}



.popup__input:nth-child(2) {
    margin-bottom: 30px;
}
